<div class = "background">
	<img src="assets/landing-bg-2.jpg" class="img-responsive" alt="Responsive image" id="background">
</div>

<div class = "bg-overlay">
	<div id = "grind">
		<%= form_for User.new do |f| %>

			<div class = "row">
				<div id = "box-request-invite" class = "col-md-4 col-md-offset-4">		
					<ul id="section-tabs">
			      <li class="current active"><span>1.</span> You</li>
			      <li><span>2.</span> Location</li>
			      
			    </ul>	
					<div class = "row">
						<div class = "col-md-8 col-md-offset-2">

							<%= f.text_field :first_name, placeholder: "First Name", class: "form-control" %>

							<%= f.text_field :last_name, placeholder: "Last Name", class: "form-control" %>
							<br>
							<br>
							<%= f.text_field :city, placeholder: "City", class: "form-control" %>

							<%= f.text_field :neighborhood, placeholder: "Neighborhood", class: "form-control" %>	

							<%= f.text_field :phone, placeholder: "Mobile Number", class: "form-control" %>			
							<br>	

						</div>
					</div>
		 
				<%= submit_tag "Submit", class: "btn btn-lg btn-primary hero-button" %>
				
		<% end %>
	</div>
</div>